[Desktop Entry]
Name=Open ModScan
Comment=An Open Source Modbus Master (Client) Utility
Exec=/opt/OpenModScan/omodscan.sh
Icon=io.github.sanny32.omodscan
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
